{% extends "layouts/main.html" %}
{% block content %}

<h2>Вход</h2>

{% if form.errors %}
  <p class="text-danger">Неправильный логин или пароль!</p>
{% endif %}

{% if next %}
  <p>Вам нужно авторизоваться, чтобы видеть эту страницу!</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div style="max-width: 1300px">
      <div class="row pb-2">
        <label class="col-sm-2">
          {{ form.username.label }}
        </label>
        <div class="col-sm-1">
          {{ form.username }}
        </div>
      </div>

      <div class="row pb-2">
        <label class="col-sm-2">
          {{ form.password.label }}
        </label>
        <div class="col-sm-1">
          {{ form.password }}
        </div>
      </div>
  </div>

  <input type="submit" class="btn btn-primary" value="Войти">
  <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}